<h2>Novo usuário</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>Email:<br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>Password:<br />
  <%= f.password_field :password %></div>

  <div>Confirme o password:<br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Registrar" %></div>
<% end %>

<%= render "devise/shared/links" %>
