<%- model_class = Issue -%>

<div class="page-header">
  <h1>Edições <%= @magazine ? "da #{@magazine.name}" : "" %></h1>
</div>

<span class="row">

      <div class="span12">
        <ol id="sortable" data-update-url="<%= sort_magazine_issues_url %>">
          
      <% @issues.each do |issue| %>
        <%= content_tag_for :li, issue do %>

          <%=image_tag issue.cover, width:"150", :class => "img-polaroid" %><br />
          
          <div style="float: left"><%= issue.name %></div>
          <% if issue.is_free == "Sim" %>
          <div class="banner-free">Grátis</div>
          <% end %>
          <%= link_to  "Ver", issue_path(issue), :class => 'to-right' %>
          <%= link_to  "Editar", edit_issue_path(issue), :class => 'to-right' %>
        <% end %>
      <% end %>

        </ol>

      </div>
  <div class="span12">
  <%= @magazine ? link_to("Criar nova edição", new_magazine_issue_path(@magazine), :class => 'btn btn-primary') : "" %>
</div>
</span>


