<%= form_for @notification, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :text, :class => 'text_field' %>
      <%= f.hidden_field :magazine_id, value: @notification.magazine_id %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                notifications_path(@notification.magazine_id), :class => 'btn' %>
  </div>
<% end %>
