<%- model_class = Notification -%>
<div class="page-header">
  <h1>Notificações</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @notification.text %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Voltar",
              notifications_path, :class => 'btn'  %>
  <%= link_to "Editar",
              edit_notification_path(@notification), :class => 'btn' %>
  <%= link_to "Deletar",
              notification_path(@notification),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
              :class => 'btn btn-danger' %>
</div>
