<%- model_class = Magazine -%>
<div class="page-header">

<h1>Revistas</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Nome</th>
      <th><%= model_class.human_attribute_name(:apps_id) %></th>
      <th><%= model_class.human_attribute_name(:pem) %></th>
      <th>Criada</th> 
	  <th>Visível</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @magazines.each do |magazine| %>
      <tr>
        <td><%= link_to magazine.id, magazine_path(magazine) %></td>
        <td><%= link_to magazine.name, magazine_path(magazine) %></td>
        <td><%= magazine.apps_id %></td>
        <td><%= File.basename(magazine.pem.to_s) %></td>
        <td><%= time_ago_in_words(magazine.created_at) %></td>
		<td><%= magazine.visible %></td>
        <td>
          <%= link_to "Editar",
                      edit_magazine_path(magazine), :class => 'btn btn-mini' %>
          <%= link_to "Deletar",
                      magazine_path(magazine),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Criar nova',
            new_magazine_path,
            :class => 'btn btn-primary' %>
